.nav-box {
  border: 2px solid ;
  border-radius: 15px;
  position: sticky;
  top: 5px;
  background-color: lightblue;
}
.nav-box ul {
  display: flex;
  justify-content: center;
  gap: 50px;
  list-style-type: none;
  font-size: 25px ;
}
.nav-box  a{
    text-decoration: none;
}